<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'cast_spaces' => ['space' => 'single'],
        'yoda_style' => false,
        'no_superfluous_phpdoc_tags' => false,
        'ordered_imports' => false,
        'phpdoc_align' => ['align' => 'left'],
        'single_line_throw' => false,
        'no_extra_blank_lines' => [
            'tokens' => [
                'break', 'case', 'continue', 'curly_brace_block',
                'default', 'extra', 'parenthesis_brace_block', 'return',
                'square_brace_block', 'switch', 'throw', 'useTrait',
                'use_trait'],
            ],
    ])
    ->setFinder($finder)
;